body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0
}

html {
	color: #000;
	background: #fff;
	overflow-y: scroll
}

body,button,input,select,textarea,pre {
	font-size: 12px;
	font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
	_font-family: Tahoma,Arial,Helvetica,STHeiti
}

html.mod-without-msyahei body {
	font-family: Tahoma,Helvetica,Arial,STHeiti
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

address,cite,dfn,em,var {
	font-style: normal
}

small {
	font-size: 12px
}

ul,ol {
	list-style: none
}

a {
	text-decoration: none;
	color: #3fa7cb
}

a:hover {
	color: #3cbce7;
	-webkit-transition: color .15s linear , background-color .3s linear;
	-moz-transition: color .15s linear , background-color .3s linear;
	-o-transition: color .15s linear , background-color .3s linear;
	-ms-transition: color .15s linear , background-color .3s linear;
	transition: color .15s linear , background-color .3s linear;
	cursor: pointer
}



.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both
}

.clearfix {
	zoom: 1
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	overflow: hidden
}

.wordwrap {
	word-break: break-all;
	word-wrap: break-word
}

pre.wordwrap {
	white-space: pre-wrap
}

html,body {
	height: 100%;
	width: 100%
}

html {
	background: #f5f5f5;
}



.mod-page-body .mod-page-main .x-page-container {
	padding: 0;
	margin: 0;
	zoom: 1
}

.mod-page-body {
	color: #454545;
	zoom: 1
}

.mod-page-body .t-remark {
	color: #959595
}

.mod-page-body a.a-normal {
	color: #3fa7cb
}

.mod-page-body a.a-normal:hover {
	color: #3cbce7
}

.mod-page-body a.a-incontent {
	color: #454545
}

.mod-page-body a.a-incontent:hover {
	color: #3fa7cb
}

.mod-page-body a.a-insist {
	color: #f46e6e
}

.mod-page-body a.a-insist:hover {
	color: #c55454
}

#qBack2topBtn {
	z-index: 1025;
	display: none
}


#qBack2topBtn .back2top-icon-bg {
	width: 40px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	top: 7px;
	left: 7px
}

.border-radius-6 {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px
}

.border-radius-10 {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px
}


.mod-page-body .mod-page-main {
	padding-top: 100px
}



.mod-topbar .mod-topbar-pseudo-real {
	background-color: #3fa7cb
}

.mod-topbar .mod-topbar-bgframe {
	position: absolute;
	border: none;
	width: 100%;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden
}

.mod-topbar .wrapper-box {
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 50px
}

.mod-topbar .left-box {
	float: left;
	padding-top: 8px
}

.mod-topbar .logo-box {
	margin-left: 10px;
	float: left
}



.mod-topbar .center-box {
	float: left;
	margin-left: 50px;
	height: 50px
}

.mod-topbar .q-menubox {
	height: 100%;
	float: left
}

.mod-topbar .q-menubox .q-menuitem {
	float: left;
	font-size: 16px;
	text-align: center;
	height: 100%;
	line-height: 50px
}

.mod-topbar .q-menubox .q-menuitem a {
	color: #fff;
	display: block;
	padding: 0 20px
}

.mod-topbar .q-menubox .q-menuitem a:hover,.mod-topbar .q-menubox .q-menuitem.q-selected {
	background: #4eb2d4
}





.mod-topbar .right-box {
	float: right;
	height: 50px;
	margin-right: -7px
}

.mod-topbar .q-navbox {
	height: 100%;
	float: right
}

.mod-topbar .q-navbox .q-navitem {
	float: left;
	font-size: 12px;
	text-align: center;
	height: 100%;
	line-height: 50px
}

.mod-topbar .q-navbox .q-nav-sp span {
	border-right: 1px solid #52b8da;
	font-size: 12px;
	display: block;
	height: 12px;
	line-height: 12px;
	margin-top: 19px;
	float: left
}

.mod-topbar .q-navbox .q-navitem a {
	color: #c0eeff;
	padding: 0 15px
}

.mod-topbar .q-navbox .q-navitem a:hover {
	color: #e2f7ff
}

.mod-topbar .q-navbox .q-upgrading {
	padding: 0 20px;
	font-size: 14px;
	color: #96daf3
}

.mod-topbar .q-navbox .q-nav-active-tips {
	padding-left: 20px;
	font-size: 14px;
	color: #96daf3
}

.mod-without-msyahei .mod-topbar .q-nav-sp span {
	_margin-top: 18px
}

.mod-pagerbar {
	background: #fff;
	padding: 20px 0;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.mod-pagerbar a,.mod-pagerbar span {
	padding: 3px 8px;
	margin: 0 5px 0 0;
	color: #454545
}

.mod-pagerbar a {
	background: #f5f5f5;
	cursor: pointer
}

.mod-pagerbar a:hover {
	background-color: #3fa7cb;
	color: #fff
}

.mod-pagerbar span {
	background: #3fa7cb;
	color: #fff;
	font-weight: bold;
	cursor: default
}

.mod-page-body .mod-page-main {
	padding-bottom: 85px
}

.mod-footer {
	padding: 30px 0 15px 0;
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: -85px;
	clear: both;
	zoom: 1
}

.mod-footer .hidden-box {
	line-height: 0;
	height: 0;
	overflow: hidden
}

.mod-footer .footer-box {
	text-align: center;
	font-family: Arial,simsun;
	font-size: 12px
}

.mod-footer .footer-box .inner-box {
	margin-bottom: 10px;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
	color: #3FA7CB
}

.mod-footer .footer-box .copy-box {
	color: #959595;
	line-height: 12px;
	height: 12px;
	overflow: hidden
}

