<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="assets/images/favicon_1.ico">
<title>{% block title %}后台管理系统{% endblock %}</title>
<!--Morris Chart CSS -->
<link rel="stylesheet" href="{{ url_for('static',filename='admin/plugins/morris/morris.css')}}">
<link href="{{ url_for('static',filename='admin/css/bootstrap.min.css')}} " rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/core.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/components.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/icons.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/pages.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/responsive.css')}}" rel="stylesheet" type="text/css" />
<link href="{{ url_for('static',filename='admin/css/style.min.css')}}" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="{{ url_for('static',filename='admin/js/modernizr.min.js')}}"></script>

{% block head %}

{% endblock %}
</head>
<body{% block body_class %} class="fixed-left"{% endblock %}>

{% block wrapper %}
<!-- Begin page -->
<div id="wrapper">
  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center"> <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>Ub<i class="md md-album"></i>ld</span></a> </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="">
          <div class="pull-left">
            <button class="button-menu-mobile open-left"> <i class="ion-navicon"></i> </button>
            <span class="clearfix"></span> </div>

          <ul class="nav navbar-nav navbar-right pull-right">
            <li class="dropdown hidden-xs"> <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"> <i class="icon-bell"></i> <span class="badge badge-xs badge-danger">3</span> </a>
              <ul class="dropdown-menu dropdown-menu-lg">
                <li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>
                <li class="list-group nicescroll notification-list">
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-diamond fa-2x text-primary"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                      <p class="m-0"> <small>There are new settings available</small> </p>
                    </div>
                  </div>
                  </a>
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-cog fa-2x text-custom"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">New settings</h5>
                      <p class="m-0"> <small>There are new settings available</small> </p>
                    </div>
                  </div>
                  </a>
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-bell-o fa-2x text-danger"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">Updates</h5>
                      <p class="m-0"> <small>There are <span class="text-primary font-600">2</span> new updates available</small> </p>
                    </div>
                  </div>
                  </a>
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-user-plus fa-2x text-info"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">New user registered</h5>
                      <p class="m-0"> <small>You have 10 unread messages</small> </p>
                    </div>
                  </div>
                  </a>
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-diamond fa-2x text-primary"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                      <p class="m-0"> <small>There are new settings available</small> </p>
                    </div>
                  </div>
                  </a>
                  <!-- list item-->
                  <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left p-r-10"> <em class="fa fa-cog fa-2x text-custom"></em> </div>
                    <div class="media-body">
                      <h5 class="media-heading">New settings</h5>
                      <p class="m-0"> <small>There are new settings available</small> </p>
                    </div>
                  </div>
                  </a> </li>
                <li> <a href="javascript:void(0);" class="list-group-item text-right"> <small class="font-600">See all notifications</small> </a> </li>
              </ul>
            </li>
            <li class="hidden-xs"> <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a> </li>
            <li class="dropdown"> <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
            <img src="{{ url_for('static',filename='admin/images/users/avatar-1.jpg')}}" alt="user-img" class="img-circle"> </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> 个人中心</a></li>
                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-5"></i>退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <!-- Top Bar End -->
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li class="text-muted menu-title">基础导航</li>
            {% for menu in menus %}
              <li {% if menu.child %}class="has_sub"{% endif %}> <a {% if menu.method %}class="J_menuItem"{% endif %} href="{% if menu.method %}{{('admin/'~menu.method)}}{% else %}javascript:void(0);{% endif %}" class="waves-effect"><i class="{{ menu.icon }}"></i> <span> {{ menu.name }} </span> </a>
                  {% if menu.child %}
                  <ul class="list-unstyled">
                      {% for m in menu.child %}
                        <li><a class="J_menuItem" href="{{ m.method }}">{{ m.name }}</a></li>
                      {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- Left Sidebar End -->


  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="content-page">
        <div class="content-tabs">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
        </div>

        <!--右侧部分开始-->
        <div class="J_mainContent" id="content-main">
            <iframe class="J_iframe" width="100%" height="100%" src="/dashboard" frameborder="0" data-id="index_v1.html" seamless></iframe>
        </div>
        <footer class="footer">
            2016 © www.divmb.com
        </footer>
    <!--右侧部分结束-->
  </div>
  <!-- ============================================================== -->
  <!-- End Right content here -->
  <!-- ============================================================== -->

</div>
{% endblock %}
<!-- END wrapper -->
<script>
    var resizefunc = [];
</script>

{% block script %}
<!-- jQuery  -->
<script src="{{ url_for('static',filename='admin/js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/detect.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/fastclick.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/jquery.slimscroll.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/jquery.blockUI.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/wow.min.js')}}"></script>
<!-- <script src="{{ url_for('static',filename='admin/js/waves.js')}}"></script> -->
<script src="{{ url_for('static',filename='admin/js/jquery.nicescroll.js')}}"></script>
<!-- jQuery  -->
<script src="{{ url_for('static',filename='admin/plugins/waypoints/lib/jquery.waypoints.js')}}"></script>
<script src="{{ url_for('static',filename='admin/plugins/counterup/jquery.counterup.min.js')}}"></script>
<!-- <script src="{{ url_for('static',filename='admin/plugins/morris/morris.min.js')}}"></script> -->
<script src="{{ url_for('static',filename='admin/plugins/raphael/raphael-min.js')}}"></script>
<script src="{{ url_for('static',filename='admin/plugins/jquery-knob/jquery.knob.js')}}"></script>
<!-- <script src="{{ url_for('static',filename='admin/pages/jquery.dashboard.js')}}"></script> -->
<script src="{{ url_for('static',filename='admin/js/jquery.core.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/jquery.app.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/metisMenu/jquery.metisMenu.js')}}"></script>
<script src="{{ url_for('static',filename='admin/js/contabs.min.js')}}"></script>
{% endblock %}

</body>
</html>
